Config { font = "xft:Ricty:size=12:antialias=true"
       , bgColor = "black"
       , fgColor = "snow"
       , position = Top
       , overrideRedirect = False
       , commands = [ Run DynNetwork [ "--template", "Net: <rx>|<tx>"
                                     , "--suffix"  , "True"
                                     , "--minwidth", "7"
                                     , "--Low"     , "5000000"
                                     , "--High"    , "10000000"
                                     , "--normal"  , "yellow"
                                     , "--high"    , "red"
                                     ] 10
                    , Run Cpu [ "--ppad"  , "3"
                              , "--Low"   , "50"
                              , "--High"  , "80"
                              , "--normal", "yellow"
                              , "--high"  , "red"
                              ] 10
                    , Run MultiCoreTemp [ "--template", "Temp: <avg>"
                                        , "--Low"     , "40"
                                        , "--High"    , "70"
                                        , "--low"     , "cyan"
                                        , "--normal"  , "yellow"
                                        , "--high"    , "red"
                                        ] 10
                    , Run Memory [ "--template", "Mem: <usedratio>%"
                                 , "--ppad"    , "3"
                                 ] 10
                    , Run Volume "default" "Master" [ "--template", "<action=`LANG=ja_JP.UTF-8 pavucontrol`>Vol: <volume>%</action>"
                                                    , "--ppad", "3"
                                                    ] 10
                    , Run Date "%Y/%m/%d %a %H:%M:%S" "date" 10
                    , Run Com "uname" ["-s", "-r"] "" 36000
                    , Run StdinReader
{% if ansible_form_factor == "Notebook" %}
                    , Run Battery [ "-t", "Bat: <left>% - <acstatus>"
                                  , "-L", "20", "-H", "50"
                                  , "-l", "red", "-n", "yellow", "-h", "green"
                                  , "--"
                                  , "-O", "<fc=yellow>ON</fc>"
                                  , "-i", "<fc=green>IDLE</fc>"
                                  , "-o", "<fc=red>OFF</fc>"
                                  ] 600
{% endif %}
                    ]
       , sepChar = "%"
       , alignSep = "}{"
       , template = " %uname% : %StdinReader% }{ %cpu% | %multicoretemp% | %memory% | %dynnetwork% | %default:Master% {% if ansible_form_factor == "Notebook" %}| %battery% {% endif %}| %date% "
       }
